<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Question Detail</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Question Detail</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  Question
                </h3>
              </div>

              <div class="card-body">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="question.isCompulsory" [disabled]="isDisabled" name="isCompulsory" style="margin-top: 6px;">
                    <label class="form-check-label">Compulsory</label>
                  </div>
                </div>

                <quill-view-html [content]="question.question" theme="snow"></quill-view-html>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let questionDataEntryOption of question.questionDataEntryOptions; let i = index">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  {{ questionDataEntryOption.name }}
                </h3>
              </div>

              <div class="card-body">
                <form #panelForm="ngForm" (ngSubmit)="save(panelForm, i)">
                  <div class="row">
                    <div class="col-md-5">
                      <h6 class="text-center" *ngIf="questionDataEntryOption.hasTextInput">{{ questionDataEntryOption.textInputTitle }}</h6>

                      <div class="form-group" *ngIf="questionDataEntryOption.hasTextInput">
                        <textarea class="form-control" [(ngModel)]="questionDataEntryOption.answer"
                                  name="answer" placeholder="Enter complains / symptoms" rows="2"></textarea>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="row" *ngIf="questionDataEntryOption.hasCalendarInput">
                        <div class="col-md-4" *ngIf="questionDataEntryOption.calendarSettingType === CalendarSettingType.YEAR_ONLY ||
                      questionDataEntryOption.calendarSettingType === CalendarSettingType.MONTH_AND_YEAR_ONLY ||
                      questionDataEntryOption.calendarSettingType === CalendarSettingType.DATE_MONTH_AND_YEAR_ONLY">
                          <div class="form-group">
                            <label>Year</label>
                            <select class="form-control" [(ngModel)]="questionDataEntryOption.year" (change)="onYearChange(i)" name="year">
                              <option *ngFor="let y of questionDataEntryOption.years" [value]="y">{{ y }}</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-4" *ngIf="questionDataEntryOption.calendarSettingType === CalendarSettingType.MONTH_ONLY ||
                      questionDataEntryOption.calendarSettingType === CalendarSettingType.MONTH_AND_YEAR_ONLY ||
                      questionDataEntryOption.calendarSettingType === CalendarSettingType.DATE_MONTH_AND_YEAR_ONLY">
                          <div class="form-group">
                            <label>Month</label>
                            <select class="form-control" [(ngModel)]="questionDataEntryOption.month" (change)="onMonthChange(i)" name="month">
                              <option *ngFor="let m of questionDataEntryOption.months" [value]="m">{{ m }}</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-4" *ngIf="questionDataEntryOption.calendarSettingType === CalendarSettingType.DATE_MONTH_AND_YEAR_ONLY">
                          <div class="form-group">
                            <label>Day</label>
                            <select class="form-control" [(ngModel)]="questionDataEntryOption.day" name="day">
                              <option *ngFor="let d of questionDataEntryOption.days" [value]="d">{{ d }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group" *ngIf="questionDataEntryOption.hasTimeInput">
                        <label>Time</label>
                        <input class="form-control" type="time" [(ngModel)]="questionDataEntryOption.time" name="time" placeholder="Time">
                      </div>
                    </div>

                    <div class="col-md-1">
                      <button class="btn btn-warning"
                              style="margin-top: 30px; border-radius: 20px; padding: 7px 14px; color: white;">+
                      </button>
                    </div>
                  </div>
                </form>

                <div class="card" *ngFor="let questionDataEntryOptionAnswer of questionDataEntryOption.questionDataEntryOptionAnswers; let i = index">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-1">
                        <div class="row">
                          <div class="col-md-2">
                            <button type="button" class="btn btn-tool"
                                    style="color: black; font-size: 22px;"><i
                              class="fas fa-long-arrow-alt-up"></i></button>
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-tool"
                                    style="color: black; font-size: 22px;"><i
                              class="fas fa-long-arrow-alt-down"></i></button>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <p>{{questionDataEntryOptionAnswer.answer}}</p>
                      </div>

                      <div class="col-md-3">
                        <p>{{questionDataEntryOptionAnswer.date}} {{questionDataEntryOptionAnswer.time }}</p>
                      </div>

                      <div class="col-md-2">
                        <button class="btn btn-warning" (click)="openDeleteModal(questionDataEntryOptionAnswer.id)"
                                data-toggle="modal" data-target="#deleteModal"
                                style="margin-top: -6px; border-radius: 20px; padding: 7px 14px; color: white;">X
                        </button>
                        <a [routerLink]="['/question_data_entry_option_answer', 'edit', questionDataEntryOptionAnswer.id]" class="btn btn-warning" style="margin-top: -5px; margin-left: 30px; color: white;">Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <app-modal [modal_id]="'deleteModal'" [contentText]="'Do you want to delete this item?'"
                 (onNoClicked)="onNoDeleteClicked()" (onYesClicked)="onYesDeleteClicked()"></app-modal>
    </div>
  </section>
</div>
